@media (max-width: 1230px) {

	.menu__list {
        position: absolute;
        left: 0;
        top: 0;
        background: #010208;
        width: 100%;
        height: 100vh;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transform: translateX(-100%);
    }

	.nav-link {
		color: #000000;
	}

	.nav-link:hover{
		color: #828181;
	}


	/* .header-nav {
		margin-bottom: 50px;
	} */

	.header-row {
		flex-direction: column;
		row-gap: 20px;
	}

	.header-content {
		margin-top: 0;
	}

	.header-img {
		text-align: center;
	}
}

@media (max-width: 700px) {

	.nav-list {
		position: absolute;
        left: 0;
        top: 0;
        background: #ffffff;
        width: 100%;
        height: 100vh;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transform: translateX(-100%);
	}

	.menu__icon {
		display: block;
	}

	.header-heading {
		font-size: 34px;
		line-height: 1.3;
	}

	.header-heading span {
		font-size: 28px;
	}

	.services {
		padding: 60px 0;
	}

	.portfolio {
		padding: 60px 0;
	}

	.portfolio-title {
		margin-bottom: 50px;
	}

	.project-img {
		margin-bottom: 30px;
	}

	.project + .project {
		margin-top: 55px;
	}

	.contacts {
		padding: 60px 0;
	}

	.contacts-title {
		margin-bottom: 20px;
	}

	.contacts-content {
		margin-bottom: 20px;
	}

	.contacts-button {
		margin-bottom: 70px;
	}

	.contacts-social {
		column-gap: 50px;
		margin-bottom: 20px;
	}
}
